<!-- slider section -->
			<section class="slider_section ">
				<div class="slider_bg_box">
					<img src="images/slider-bg.jpg" alt="">
				</div>
				<div id="customCarousel1" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="container ">
								<div class="row">
									<div class="col-md-7 col-lg-6 ">
										<div class="detail-box">
											<h1>
												<span>
													Rémise de 15% 
												</span>
												<br>
												Sur tout article 
											</h1>
											<p>
												Benéficiez de cette période de festivité pour passer vos commandes et être livré dans le délai. Nos services sont disponible 24H/7.
											</p>
											<div class="btn-box">
												<a href="{{url('app_produits')}}" class="btn1">
													Faîtes vos achats  
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item ">
							<div class="container ">
								<div class="row">
									<div class="col-md-7 col-lg-6 ">
										<div class="detail-box">
											<h1>
												<span>
													Rémise de 15% 
												</span>
												<br>
												Sur tout article 
											</h1>
											<p>
												Benéficiez de cette période de festivité pour passer vos commandes et être livré dans le délai. Nos services sont disponible 24H/7.
											</p>
											<div class="btn-box">
												<a href="" class="btn1">
													Faîtes vos achats  
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="container ">
								<div class="row">
									<div class="col-md-7 col-lg-6 ">
										<div class="detail-box">
											<h1>
												<span>
													Rémise de 15% 
												</span>
												<br>
												En cette période de Noël
											</h1>
											<p>
												Beneficiez de reduction sur tout vos achats en cette periode 
																																				de fin d'annnée. Fina vous accompagne dans le processus global
											</p>
											<div class="btn-box">
												<a href="" class="btn1">
													Faîtes vos achats  
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<ol class="carousel-indicators">
							<li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
							<li data-target="#customCarousel1" data-slide-to="1"></li>
							<li data-target="#customCarousel1" data-slide-to="2"></li>
						</ol>
					</div>
				</div>
			</section>
			<!-- end slider section -->