<!-- slider section -->
			<section class="slider_section ">
				<div class="slider_bg_box">
					<img src="{{asset('images/slider-bg.jpg')}}" alt="">
					{# <img src="{{asset('images/grande2.jpg')}}" alt=""> #}
				</div>
				<div id="customCarousel1" class="carousel slide text-danger text-bold " data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="container ">
								<div class="row">
									<div class="col-md-7 col-lg-6 ">
										<div class="detail-box">
											<h1>
												<span>
													Vision & objectif 
												</span>
												<br>
												RDC et Afrique plus haut 
											</h1>
											<p class="h-2">
												Equiper les congolais et les africains des dispositifs, de systèmes informatiques, des appareils et des machines qui répondent 
												à leurs besoins et réalités directes. 
											</p>
											<div class="btn-box">
												<a href="{{url('app_produits')}}" class="btn1">
													Faîtes vos achats  
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item ">
							<div class="container ">
								<div class="row">
									<div class="col-md-7 col-lg-6 ">
										<div class="detail-box">
											<h1>
												<span>
													Agro alimentaire 
												</span>
												<br>
												transformation & conditionnement 
											</h1>
											<p>
												Fina food transforme les produits locaux, les conditionnent et les dispose au consommateur final. Nous encourageons les agriculteurs locaux. 
											</p>
											<div class="btn-box">
												<a href="" class="btn1">
													Faîtes vos achats  
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="container ">
								<div class="row">
									<div class="col-md-7 col-lg-6 ">
										<div class="detail-box">
											<h1>
												<span>
													Formation High tech 
												</span>
												<br>
												Bureau d'études innovant 
											</h1>
											<p>
												Le service formation est rattcahé au bureau d'études, il a pour mission de permettre aux indutriels 
												d'avoir un personnel qualifié pour bien manipuler les machines et autres équipements dans l'usine. 
											</p>
											<div class="btn-box">
												<a href="" class="btn1">
													Faîtes vos achats  
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<ol class="carousel-indicators">
							<li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
							<li data-target="#customCarousel1" data-slide-to="1"></li>
							<li data-target="#customCarousel1" data-slide-to="2"></li>
						</ol>
					</div>
				</div>
			</section>
			<!-- end slider section -->