
		<!-- subscribe section -->
		<section class="subscribe_section">
			<div class="container-fuild">
				<div class="box">
					<div class="row">
						<div class="col-md-6 offset-md-3">
							<div class="subscribe_form ">
								<div class="heading_container heading_center">
									<h3>Souscrivez à notre newsletter pour etre informé des arrivages et remises</h3>
								</div>
								<p>Bénéficiez d'un tarif reduit en étant abonné à notre newsletter. C'est parti....</p>
								<form action="{{url('app_creationNewsLetter')}}">
									<input type="email" name="email" placeholder="Entrer votre adresse mail">
									<button>
										souscrire
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end subscribe section -->